<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= image_tag "icons/icon.PNG", class:"nav-icon-logo"%><a class="navbar-brand nav-logo" href="#">MyBlock Market</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default"><%= image_tag 'icons/search.svg',class:"nav-icon-search" %>Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">アカウント情報<%= image_tag 'icons/settings.svg',class:"nav-icon-setting" %></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">カテゴリー<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">本・書籍</a></li>
            <li><a href="#">家電・カメラ</a></li>
            <li><a href="#">PCソフト</a></li>
            <li><a href="#">文房具・オフィス用品</a></li>
            <li><a href="#">シューズ・バッグ</a></li>
            <li><a href="#">楽器</a></li>
            <li><a href="#">ドラッグストア</a></li>
            <li><a href="#">ビューティ</a></li>
            <li><a href="#">ファッション</a></li>
            <li><a href="#">腕時計</a></li>
            <li><a href="#">カー・バイク</a></li>
            <li><a href="#">クレジットカード</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">すべて</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="page-header">
        <h1 id="timeline">注文状況</h1>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-cloud-upload"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">ご注文を承りました。支給発送いたします。</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> ３日前 伊丹市本社</small></p>
            </div>
            <div class="timeline-body">
              <p>ご注文されました商品は準備ができ次第、発送させていただきます。</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-chevron-right"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">発送いたしました。</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2日前 伊丹市本社</small></p>
            </div>
            <div class="timeline-body">
              <p>発送されていただきました。目安として２日〜３日お待ちください。</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">ご連絡ありがとうございます。</h4>
            </div>
            <div class="timeline-body">
              <p>ご連絡ありがとうございます。よろしくお願いいたします。</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-ok-circle"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">営業所へ到着しました。</h4>
            </div>
            <div class="timeline-body">
              <p>最寄りの台東区営業所へ到着いたしました。間も無く配達されます。スマートフォンアプリ「MyBlock」にて配達の指定ができ、配達を受け取ると仮想通貨にて報酬が受け取れ、本サイトで買い物などに有効利用することができます。</p>
            </div>
          </div>
        </li>
        <li>
        <div class="timeline-badge info"><i class="glyphicon glyphicon-map-marker"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">配達いたしました。</h4>
            </div>
            <div class="timeline-body">
              <p>所定の住所へ配達いたしました。本サービスをご利用いただき、まことにありがとうございます。</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-bitcoin"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">入金を確認いたしました。</h4>
            </div>
            <div class="timeline-body">
              <p>新サービス「MyBlock」にて、決済を行い、セキュリティが担保された状態で、正しく入金を確認することができました。お手元のスマートフォンアプリでもご確認ください。ご利用ありがとうございました。</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">取引ありがとうございました。</h4>
            </div>
            <div class="timeline-body">
              <p>サービスはとてもよく、非常に満足しました。また利用しようと思います。ありがとうございました。</p>
            </div>
          </div>
        </li>
    </ul>
</div>