<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">ご注文ありがとうございました。</h1>
    <p class="lead">スマートフォンアプリ「MyBlock」で詳細をご確認ください。</p>
  </div>
</div>

<%# <div class="container">

    <div class="page-header">
        <h1 id="timeline">注文状況</h1>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-cloud-upload"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">ご注文を承りました。支給発送いたします。</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> ３日前 伊丹市本社</small></p>
            </div>
            <div class="timeline-body">
              <p>ご注文されました商品は準備ができ次第、発送させていただきます。</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-chevron-right"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">発送いたしました。</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2日前 伊丹市本社</small></p>
            </div>
            <div class="timeline-body">
              <p>発送されていただきました。目安として２日〜３日お待ちください。</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">ご連絡ありがとうございます。</h4>
            </div>
            <div class="timeline-body">
              <p>ご連絡ありがとうございます。よろしくお願いいたします。</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-ok-circle"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">営業所へ到着しました。</h4>
            </div>
            <div class="timeline-body">
              <p>最寄りの台東区営業所へ到着いたしました。間も無く配達されます。スマートフォンアプリ「MyBlock」にて配達の指定ができ、配達を受け取ると仮想通貨にて報酬が受け取れ、本サイトで買い物などに有効利用することができます。</p>
            </div>
          </div>
        </li>
        <li>
        <div class="timeline-badge info"><i class="glyphicon glyphicon-map-marker"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">配達いたしました。</h4>
            </div>
            <div class="timeline-body">
              <p>所定の住所へ配達いたしました。本サービスをご利用いただき、まことにありがとうございます。</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-bitcoin"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">入金を確認いたしました。</h4>
            </div>
            <div class="timeline-body">
              <p>新サービス「MyBlock」にて、決済を行い、セキュリティが担保された状態で、正しく入金を確認することができました。お手元のスマートフォンアプリでもご確認ください。ご利用ありがとうございました。</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">取引ありがとうございました。</h4>
            </div>
            <div class="timeline-body">
              <p>サービスはとてもよく、非常に満足しました。また利用しようと思います。ありがとうございました。</p>
            </div>
          </div>
        </li>
    </ul>
</div> %>