.container-fluid {
    // background-color: #E9446F;
}

.nav-logo {
    color:white;
}

.nav-icon-setting {
    margin:0px -5px 3px 8px;
    width: 1.4em
}

.nav-icon-search {
    margin:-4px 3px 0px 0px;
    width: 1.4em
}

.nav-icon-logo {
    width:4.0em;
    margin:0px 10px;
    float: left;
}